Привет, {{.DisplayName}}!

Вы запросили сброс пароля в RepricerX.

Чтобы задать новый пароль, перейдите по ссылке:
{{.URL}}

Ссылка действует 1 час и может быть использована только один раз.

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.

RepricerX
